body {
    background-image: url('./bg_bggenerator_com.jpg');
    width: 900px;
    margin: auto;
}

.title01{
    color: #000;
    text-align: center;
}

.title02{
    color: #000;
}

.photo_titulo{
    border-radius: 50%;
    border: 3px solid #000;
}


.post {
    color: #000;
    background: #fff;
    padding: 10px 10px;
    border: 3px solid #000;
    margin: 10px;
    border-radius: 10px;
}